SERPAPI_KEY=allah
OPENAI_API_KEY=allah
OPENAI_MODEL_NAME=gpt-4o-mini
# Optional: User Agent for scraper
USER_AGENT=Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36
