VITE_API_MODE=api # mock or api
VITE_API_BASE_URL=http://localhost:8000 # BE Server Host
VITE_SERVER_HOST=localhost # FE Server Host

# The following VITE_USING_PUBLIC_LLM option determine whether to use public LLM like OpenAI or use your own LLM
# If it is true, it will use public LLM like OpenAI,
# otherwise it will use your own LLM which was hosted by through VITE_API_BASE_URL
VITE_USING_PUBLIC_LLM=false

# In case of using public LLM, you need to specify VITE_GPT_MODEL and provide your OpenAI API key by VITE_OPENAI_API_KEY
# VITE_GPT_MODEL=gpt-5.2-chat-latest # Explore other models via link https://platform.openai.com/docs/models 
# VITE_OPENAI_API_KEY=*****
